# Projeto Twitter Unifacisa

- Projeto de importação, análise de dados do twitter e armazenamento em banco de dados
- Biblioteca tweepy: https://docs.tweepy.org/en/stable/
- Cadastrar como desenvolvedor no Twitter Developer: https://developer.twitter.com/en

In [1]:
import tweepy as tw
import pandas as pd
import time
import sqlite3

In [2]:
# Criando as credenciais como variáveis

bearer_token = ''
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''

In [3]:
# Criando nosso Client
cliente = tw.Client(bearer_token,consumer_key, consumer_secret, access_token, access_token_secret)

In [4]:
# Conectando ao meu banco de dados
con = sqlite3.connect('BD_Facisa.db')

In [5]:
cur = con.cursor()

In [6]:
start = '2022-03-06T00:01:00Z'
end = '2022-03-06T19:47:00Z'

resposta = cliente.search_recent_tweets(query='unifacisa',max_results=100,start_time=start,end_time=end)

In [7]:
dados = resposta.data
type(dados)

list

In [8]:
# Criar a minha tabela

cur.execute('CREATE TABLE registros (texto TEXT,RT TEXT)')

In [10]:
for i in dados:
    texto = i.text
    if (texto[:2] == 'RT'):
        RT = 'S'
    else:
        RT = 'N'
    
    cur.execute("INSERT INTO registros (texto,RT) VALUES (?,?)",(texto,RT))
    
con.commit()

### Realizando consulta

In [12]:
# Criando uma conexão

con = sqlite3.connect('BD_Facisa.db')

cur = con.cursor()

In [13]:
cur.execute('SELECT * FROM registros')

In [14]:
resultados = cur.fetchall()
resultados = pd.DataFrame(resultados)

In [15]:
resultados.columns = ['texto','RT']
display(resultados)

                                                texto RT
0   Unifacisa vence o Pato e segue firme em busca ...  N
1   Corinthians se complicou na busca pelo playoff...  N
2   @Fernandinhoo77 A sequência é complicada mesmo...  N
3   RT @SccpBasquete: Os próximos 9 jogos ⬇️\n\n08...  S
4   RT @SccpBasquete: Os próximos 9 jogos ⬇️\n\n08...  S
5   Os próximos 9 jogos ⬇️\n\n08/03 Brasília (Fora...  N
6   @eneaslima São Paulo em quarto, Unifacisa em q...  N
7   Unifacisa vence o Pato e segue firme em busca ...  N
8   Corinthians se complicou na busca pelo playoff...  N
9   @Fernandinhoo77 A sequência é complicada mesmo...  N
10  RT @SccpBasquete: Os próximos 9 jogos ⬇️\n\n08...  S
11  RT @SccpBasquete: Os próximos 9 jogos ⬇️\n\n08...  S
12  Os próximos 9 jogos ⬇️\n\n08/03 Brasília (Fora...  N
13  @eneaslima São Paulo em quarto, Unifacisa em q...  N

In [16]:
resultados.to_excel('resultados.xlsx')